<div class="base64-container">
    <app-menu></app-menu>
    <hr>
    <div>
        <h4>What is Base64 Encoding and Decoding?</h4>
        <p>
            Base64 is a method for converting binary data into a text format using a set of 64 printable ASCII
            characters (A-Z, a-z, 0-9, +, /). It’s widely used to encode data, such as images or files, so it can be
            safely transmitted over text-based systems like email, APIs, or JSON. Encoding transforms data into a Base64
            string, while decoding reverses the process, restoring the original data. While not encryption (it doesn’t
            use a key), Base64 is a key tool for data compatibility in modern applications.
        </p>
    </div>
    <div>
        <p class="text-center">
            <button ngClass="btn text-white me-2 {{ isEncodingMode ? 'btn-primary' : 'btn-success'}}"
                (click)="enterEncodingMode()">Encode to Base64</button>
            <button ngClass="btn text-white {{ !isEncodingMode ? 'btn-primary' : 'btn-success'}}"
                (click)="enterDecodingMode()">Decode Base64</button>
        </p>
    </div>
    <hr>
    <div class="form-body">
        <div class="form-container">
            @if (isEncodingMode) {
            <h2 class="text-center mb-4">Encode to Base64 string</h2>
            <form id="encodingForm" [formGroup]="encodingForm" (ngSubmit)="onEncode()">
                <div class="mb-3">
                    <label for="textToEncode" class="form-label">Plaintext</label>
                    <textarea class="form-control" formControlName="textToEncode" id="textToEncode" rows="4"
                        placeholder="Enter text to encode" required></textarea>
                </div>
                <button type="submit" [disabled]="encodingForm.invalid"
                    class="btn btn-primary btn-custom-primary">Encode</button>
            </form>
            }
            @else {
            <h2 class="text-center mb-4">Decode Base64 string</h2>
            <form id="decodingForm" [formGroup]="decodingForm" (ngSubmit)="onDecode()">
                <div class="mb-3">
                    <label for="base64Text" class="form-label">Encoded Text</label>
                    <textarea class="form-control" formControlName="base64Text" id="base64Text" rows="4"
                        placeholder="Enter text to decode" required></textarea>
                </div>
                <button type="submit" [disabled]="decodingForm.invalid"
                    class="btn btn-primary btn-custom-primary">Decode</button>
            </form>
            }
        </div>
    </div>
    <app-result-output [result]="result"></app-result-output>
</div>